* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
    background: $verydarkblue;
    font-family: 'Overpass', sans-serif;
}